.clip {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.menu a {
	padding: 0.4rem;
}

.footer-form {
	height: 247px;width: 190px;
}

.footer-subscribe {
	height: 100%;
}

.all-access {
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position: 0 0;
	background-image: url('https://d.newsweek.com/en/full/1572460/march-13-2020.jpg?w=170&q=95&f=52ec8e410e9337459df2777847b09b11');
}

.all-access-cover {
	padding-left: 30%; padding-top: 24%;
}
